.sidebar {
  display: flex;
  flex: 0.33;
  // background-color: rgb(56, 56, 66); //todo:後でhomeに移動

  .sidebarLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(33, 34, 38);
    padding: 7px 15px;

    .serverIcon {
      width: 60px;
      height: 60px;
      background-color: rgb(56, 56, 66);
      border-radius: 9999px;
      margin-bottom: 10px;
      margin-top: 7px;
      position: relative;
      img {
        width: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .sidebarRight {
    background-color: rgb(48, 49, 54);
    width: 300px;
    position: relative;
    flex-grow: 1;
  }
  .sidebarTop {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }

  .sidebarChannels {
    padding: 13px;

    .sidebarChannelsHeader {
      display: flex;
      color: white;
      justify-content: space-between;
      align-items: center;
      margin-top: 5px;
    }

    .sidebarHeader {
      display: flex;
    }

    .sidebarAddIcon {
      cursor: pointer;
    }
  }

  .sidebarFooter {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 93%;
    padding-bottom: 10px;
    border-top: 1px solid #686a6e;
    padding-top: 10px;
    margin-left: -3px;

    .sidebarAccount {
      display: flex;
      align-items: center;
      img {
        width: 60px;
        border-radius: 50%;
      }

      .accountName {
        margin-left: 5px;

        h4 {
          color: white;
          font-size: 500;
        }

        span {
          color: #686a6e;
        }
      }
    }

    .sidebarVoice {
      display: flex;
      align-items: center;
      color: #686a6e;
    }
  }
}
